*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}

.search-box{
height: 50px;
padding:1em;
border-radius:1em;
background-color: rgb(197, 192, 192);

}

.container{
    background-color: rgb(226, 232, 235);
    width: 100%;
    padding: 2em;
    margin-top: 2em;
    border-radius: 1.5em;
}
table{
width: 100%;
margin: 0 auto;

text-align: center;
}

.input-container{
    margin-bottom: 2em;
}

th,td{
    padding: 0.4em 0;
    border: 0.7px solid rgb(130, 212, 193);
}

tr:hover{
background-color: rgb(127, 215, 239);
}

.del-btn{
    background-color: red;
    border: none;
padding: 0.5em;
border-radius: 10px;
color: white;
}
.update-btn{
background-color: rgb(66, 101, 216);
margin-left: 1em;
border: none;
padding: 0.5em;
border-radius: 10px;
color: white;
}

.add-btn{
    background-color: black;
    border: none;
padding: 0.4em 1em;
border-radius: 10px;
color: white;
font-size: 1.2em;
}

.del-btn:hover{
color: red;
background-color: white;
}

.update-btn:hover{
    color:rgb(66, 101, 216) ;
    background-color: white;
}